In [1]:
from dask.distributed import LocalCluster
cluster = LocalCluster()          # Fully-featured local Dask cluster
client = cluster.get_client()

2025-04-11 09:52:40,114 - distributed.shuffle._scheduler_plugin - WARNING - Shuffle df10aa0f8610676b69bb809dbb9e7b3a initialized by task ('shuffle-transfer-df10aa0f8610676b69bb809dbb9e7b3a', 24) executed on worker tcp://127.0.0.1:57902
2025-04-11 09:52:41,327 - distributed.shuffle._scheduler_plugin - WARNING - Shuffle df10aa0f8610676b69bb809dbb9e7b3a deactivated due to stimulus 'task-finished-1744357961.3269491'

In [2]:
cluster.dashboard_link

'http://127.0.0.1:8787/status'

In [3]:
import dask.dataframe as dd
import dask.bag as db
import json

In [4]:
b = db.read_text('data/*.json').map(json.loads)
b

dask.bag<loads, npartitions=100>

In [5]:
b.take(1)

({'age': 20,
  'name': ['Agustin', 'Malone'],
  'occupation': 'Animal Breeder',
  'telephone': '+1-404-524-9598',
  'address': {'address': '330 Alana Walk', 'city': 'Anderson'},
  'credit-card': {'number': '4005 8000 8648 7485',
   'expiration-date': '11/24'}},)

In [6]:
ddf = b.to_dataframe()
ddf

Dask DataFrame Structure:
                   age    name occupation telephone address credit-card
npartitions=100
                 int64  object     object    object  object      object
                   ...     ...        ...       ...     ...         ...
...                ...     ...        ...       ...     ...         ...
                   ...     ...        ...       ...     ...         ...
                   ...     ...        ...       ...     ...         ...
Dask Name: from-bag, 1 expression
Expr=FromGraph(93cdec1)

In [ ]:
type(ddf)

In [8]:
df = ddf.head(5)
type(df)

pandas.core.frame.DataFrame

In [ ]:
type(df)

In [12]:
ddf.loc[ddf['occupation'] == "Technician"].compute().shape

(893, 6)

In [14]:
ddf.drop("name", axis="columns").groupby('occupation').agg({'age': 'mean'}).compute()

                          age
occupation
Technical Liaison   61.538549
Packaging           60.117780
Brewery Manager     58.050286
Haulage Contractor  60.253165
Soldier             57.692597
...                       ...
Machine Tool        59.133089
Vehicle Technician  61.667421
Geologist           59.976536
Medical Consultant  59.239861
Screen Writer       57.306805

[1156 rows x 1 columns]

## Dataset partitions

In [16]:
ddf.partitions[0].compute()

,age,name,occupation,telephone,address,credit-card
0,20,"[Agustin, Malone]",Animal Breeder,+1-404-524-9598,"{'address': '330 Alana Walk', 'city': 'Anderson'}","{'number': '4005 8000 8648 7485', 'expiration-..."
1,0,"[Jamar, Ayala]",Technical Liaison,+18179370129,"{'address': '3 Argonaut Viaduct', 'city': 'Laf...","{'number': '3440 726659 51129', 'expiration-da..."
2,69,"[Lanie, Hoover]",Merchant,+1-360-016-7144,"{'address': '579 Tiffany Station', 'city': 'Si...","{'number': '4995 4746 4301 1121', 'expiration-..."
3,2,"[Mendy, Faulkner]",Packaging,+1-975-254-7948,"{'address': '527 Western Shore Walk', 'city': ...","{'number': '4503 9554 4223 9967', 'expiration-..."
4,0,"[Gonzalo, Whitehead]",HGV Driver,+1-627-152-0009,"{'address': '221 Kensington Avenue', 'city': '...","{'number': '4443 5703 2541 3804', 'expiration-..."
...,...,...,...,...,...,...
9995,64,"[Marna, Erickson]",Taxidermist,+18050636340,"{'address': '514 Forest Ferry', 'city': 'Ameri...","{'number': '3733 327339 68727', 'expiration-da..."
9996,46,"[Vincenza, Ratliff]",Library Manager,+13806795258,"{'address': '709 Casitas Place', 'city': 'Merr...","{'number': '5242 4396 0969 9894', 'expiration-..."
9997,17,"[Roberto, Riley]",Hotelier,+1-941-550-0498,{'address': '798 Palace Of Fine Arts Boulevard...,"{'number': '2630 9941 5837 5236', 'expiration-..."
9998,88,"[Sana, Stein]",Technical Co-ordinator,+1-323-929-3873,"{'address': '1115 Brotherhood Walk', 'city': '...","{'number': '3711 837158 95319', 'expiration-da..."
9999,106,"[Concha, Roach]",Tutor,+1-313-356-9099,"{'address': '1297 View Trail', 'city': 'Winter...","{'number': '3718 030175 10874', 'expiration-da..."

In [17]:
ddf.visualize()

In [20]:
ddf.map_partitions(lambda x: x.size).visualize()

# Read CSVs

In [21]:
from google.cloud import storage

def list_blobs(bucket_name):
    """Lists all the blobs in the bucket."""
    # bucket_name = "your-bucket-name"

    storage_client = storage.Client.create_anonymous_client()

    # Note: Client.list_blobs requires at least package version 1.17.0.
    blobs = storage_client.list_blobs(bucket_name)

    # Note: The call returns a response only when the iterator is consumed.
    for blob in blobs:
        print(blob.name)
list_blobs('anaconda-public-data')

airline/1987.csv
airline/1988.csv
airline/1989.csv
airline/1990.csv
airline/1991.csv
airline/1992.csv
airline/1993.csv
airline/1994.csv
airline/1995.csv
airline/1996.csv
airline/1997.csv
airline/1998.csv
airline/1999.csv
airline/2000.csv
airline/2001.csv
airline/2002.csv
airline/2003.csv
airline/2004.csv
airline/2005.csv
airline/2006.csv
airline/2007.csv
airline/2008.csv
dnscensus2013/dnscensus2013.tar.gz
github-data/
github-data/github-data.tar
iris/iris.csv
nyc-taxi/
nyc-taxi/2015.parquet/_common_metadata
nyc-taxi/2015.parquet/_metadata
nyc-taxi/2015.parquet/part.0.parquet
nyc-taxi/2015.parquet/part.1.parquet
nyc-taxi/2015.parquet/part.10.parquet
nyc-taxi/2015.parquet/part.11.parquet
nyc-taxi/2015.parquet/part.12.parquet
nyc-taxi/2015.parquet/part.13.parquet
nyc-taxi/2015.parquet/part.14.parquet
nyc-taxi/2015.parquet/part.15.parquet
nyc-taxi/2015.parquet/part.16.parquet
nyc-taxi/2015.parquet/part.17.parquet
nyc-taxi/2015.parquet/part.18.parquet
nyc-taxi/2015.parquet/part.19.parquet
nyc-taxi/2015.parquet/part.2.parquet
nyc-taxi/2015.parquet/part.20.parquet
nyc-taxi/2015.parquet/part.21.parquet
nyc-taxi/2015.parquet/part.22.parquet
nyc-taxi/2015.parquet/part.23.parquet
nyc-taxi/2015.parquet/part.24.parquet
nyc-taxi/2015.parquet/part.25.parquet
nyc-taxi/2015.parquet/part.26.parquet
nyc-taxi/2015.parquet/part.27.parquet
nyc-taxi/2015.parquet/part.28.parquet
nyc-taxi/2015.parquet/part.29.parquet
nyc-taxi/2015.parquet/part.3.parquet
nyc-taxi/2015.parquet/part.30.parquet
nyc-taxi/2015.parquet/part.31.parquet
nyc-taxi/2015.parquet/part.32.parquet
nyc-taxi/2015.parquet/part.33.parquet
nyc-taxi/2015.parquet/part.34.parquet
nyc-taxi/2015.parquet/part.35.parquet
nyc-taxi/2015.parquet/part.36.parquet
nyc-taxi/2015.parquet/part.37.parquet
nyc-taxi/2015.parquet/part.38.parquet
nyc-taxi/2015.parquet/part.39.parquet
nyc-taxi/2015.parquet/part.4.parquet
nyc-taxi/2015.parquet/part.40.parquet
nyc-taxi/2015.parquet/part.41.parquet
nyc-taxi/2015.parquet/part.42.parquet
nyc-taxi/2015.parquet/part.43.parquet
nyc-taxi/2015.parquet/part.44.parquet
nyc-taxi/2015.parquet/part.45.parquet
nyc-taxi/2015.parquet/part.46.parquet
nyc-taxi/2015.parquet/part.47.parquet
nyc-taxi/2015.parquet/part.48.parquet
nyc-taxi/2015.parquet/part.49.parquet
nyc-taxi/2015.parquet/part.5.parquet
nyc-taxi/2015.parquet/part.50.parquet
nyc-taxi/2015.parquet/part.6.parquet
nyc-taxi/2015.parquet/part.7.parquet
nyc-taxi/2015.parquet/part.8.parquet
nyc-taxi/2015.parquet/part.9.parquet
nyc-taxi/csv/
nyc-taxi/csv/2014/green_tripdata_2014-01.csv
nyc-taxi/csv/2014/green_tripdata_2014-02.csv
nyc-taxi/csv/2014/green_tripdata_2014-03.csv
nyc-taxi/csv/2014/green_tripdata_2014-04.csv
nyc-taxi/csv/2014/green_tripdata_2014-05.csv
nyc-taxi/csv/2014/green_tripdata_2014-06.csv
nyc-taxi/csv/2014/green_tripdata_2014-07.csv
nyc-taxi/csv/2014/green_tripdata_2014-08.csv
nyc-taxi/csv/2014/green_tripdata_2014-09.csv
nyc-taxi/csv/2014/green_tripdata_2014-10.csv
nyc-taxi/csv/2014/green_tripdata_2014-11.csv
nyc-taxi/csv/2014/green_tripdata_2014-12.csv
nyc-taxi/csv/2014/yellow_tripdata_2014-01.csv
nyc-taxi/csv/2014/yellow_tripdata_2014-02.csv
nyc-taxi/csv/2014/yellow_tripdata_2014-03.csv
nyc-taxi/csv/2014/yellow_tripdata_2014-04.csv
nyc-taxi/csv/2014/yellow_tripdata_2014-05.csv
nyc-taxi/csv/2014/yellow_tripdata_2014-06.csv
nyc-taxi/csv/2014/yellow_tripdata_2014-07.csv
nyc-taxi/csv/2014/yellow_tripdata_2014-08.csv
nyc-taxi/csv/2014/yellow_tripdata_2014-09.csv
nyc-taxi/csv/2014/yellow_tripdata_2014-10.csv
nyc-taxi/csv/2014/yellow_tripdata_2014-11.csv
nyc-taxi/csv/2014/yellow_tripdata_2014-12.csv
nyc-taxi/csv/2015/green_tripdata_2015-01.csv
nyc-taxi/csv/2015/green_tripdata_2015-02.csv
nyc-taxi/csv/2015/green_tripdata_2015-03.csv
nyc-taxi/csv/2015/green_tripdata_2015-04.csv
nyc-taxi/csv/2015/green_tripdata_2015-05.csv
nyc-taxi/csv/2015/green_tripdata_2015-06.csv
nyc-taxi/csv/2015/yellow_tripdata_2015-01.csv
nyc-taxi/csv/2015/yellow_tripdata_2015-02.csv
nyc-taxi/csv/2015/yellow_tripdata_2015-03.csv
nyc-taxi/csv/2015/yellow_tripdata_2015-04.csv
nyc-taxi/csv/2015/yellow_tripdata_2015-05.csv
nyc-taxi/csv/2015/yellow_tripdata_2015-06.csv
nyc-taxi/csv/2015/yellow_tripdata_2015-07.csv
nyc-taxi/csv/2015/yellow_tripdata_2015-08.csv
nyc-taxi/csv/2015/yellow_tripdata_2015-09.csv
nyc-taxi/csv/2015/yellow_tripdata_2015-10.csv
nyc-taxi/csv/2015/yellow_tripdata_2015-11.csv
nyc-taxi/csv/2015/yellow_tripdata_2015-12.csv
nyc-taxi/csv/2016/yellow_tripdata_2016-01.csv
nyc-taxi/csv/2016/yellow_tripdata_2016-02.csv
nyc-taxi/csv/2016/yellow_tripdata_2016-03.csv
nyc-taxi/csv/2016/yellow_tripdata_2016-04.csv
nyc-taxi/csv/2016/yellow_tripdata_2016-05.csv
nyc-taxi/csv/2016/yellow_tripdata_2016-06.csv
nyc-taxi/csv/2016/yellow_tripdata_2016-07.csv
nyc-taxi/csv/2016/yellow_tripdata_2016-08.csv
nyc-taxi/csv/2016/yellow_tripdata_2016-09.csv
nyc-taxi/csv/2016/yellow_tripdata_2016-10.csv
nyc-taxi/csv/2016/yellow_tripdata_2016-11.csv
nyc-taxi/csv/2016/yellow_tripdata_2016-12.csv
nyc-taxi/nyc.parquet/_common_metadata
nyc-taxi/nyc.parquet/_metadata
nyc-taxi/nyc.parquet/part.0.parquet
nyc-taxi/nyc.parquet/part.1.parquet
nyc-taxi/nyc.parquet/part.10.parquet
nyc-taxi/nyc.parquet/part.100.parquet
nyc-taxi/nyc.parquet/part.101.parquet
nyc-taxi/nyc.parquet/part.102.parquet
nyc-taxi/nyc.parquet/part.103.parquet
nyc-taxi/nyc.parquet/part.104.parquet
nyc-taxi/nyc.parquet/part.105.parquet
nyc-taxi/nyc.parquet/part.106.parquet
nyc-taxi/nyc.parquet/part.107.parquet
nyc-taxi/nyc.parquet/part.108.parquet
nyc-taxi/nyc.parquet/part.109.parquet
nyc-taxi/nyc.parquet/part.11.parquet
nyc-taxi/nyc.parquet/part.110.parquet
nyc-taxi/nyc.parquet/part.111.parquet
nyc-taxi/nyc.parquet/part.112.parquet
nyc-taxi/nyc.parquet/part.113.parquet
nyc-taxi/nyc.parquet/part.114.parquet
nyc-taxi/nyc.parquet/part.115.parquet
nyc-taxi/nyc.parquet/part.116.parquet
nyc-taxi/nyc.parquet/part.117.parquet
nyc-taxi/nyc.parquet/part.118.parquet
nyc-taxi/nyc.parquet/part.119.parquet
nyc-taxi/nyc.parquet/part.12.parquet
nyc-taxi/nyc.parquet/part.120.parquet
nyc-taxi/nyc.parquet/part.121.parquet
nyc-taxi/nyc.parquet/part.122.parquet
nyc-taxi/nyc.parquet/part.123.parquet
nyc-taxi/nyc.parquet/part.124.parquet
nyc-taxi/nyc.parquet/part.125.parquet
nyc-taxi/nyc.parquet/part.126.parquet
nyc-taxi/nyc.parquet/part.127.parquet
nyc-taxi/nyc.parquet/part.128.parquet
nyc-taxi/nyc.parquet/part.129.parquet
nyc-taxi/nyc.parquet/part.13.parquet
nyc-taxi/nyc.parquet/part.130.parquet
nyc-taxi/nyc.parquet/part.131.parquet
nyc-taxi/nyc.parquet/part.132.parquet
nyc-taxi/nyc.parquet/part.133.parquet
nyc-taxi/nyc.parquet/part.134.parquet
nyc-taxi/nyc.parquet/part.135.parquet
nyc-taxi/nyc.parquet/part.136.parquet
nyc-taxi/nyc.parquet/part.137.parquet
nyc-taxi/nyc.parquet/part.138.parquet
nyc-taxi/nyc.parquet/part.139.parquet
nyc-taxi/nyc.parquet/part.14.parquet
nyc-taxi/nyc.parquet/part.140.parquet
nyc-taxi/nyc.parquet/part.141.parquet
nyc-taxi/nyc.parquet/part.142.parquet
nyc-taxi/nyc.parquet/part.143.parquet
nyc-taxi/nyc.parquet/part.144.parquet
nyc-taxi/nyc.parquet/part.145.parquet
nyc-taxi/nyc.parquet/part.146.parquet
nyc-taxi/nyc.parquet/part.147.parquet
nyc-taxi/nyc.parquet/part.148.parquet
nyc-taxi/nyc.parquet/part.149.parquet
nyc-taxi/nyc.parquet/part.15.parquet
nyc-taxi/nyc.parquet/part.150.parquet
nyc-taxi/nyc.parquet/part.151.parquet
nyc-taxi/nyc.parquet/part.152.parquet
nyc-taxi/nyc.parquet/part.153.parquet
nyc-taxi/nyc.parquet/part.154.parquet
nyc-taxi/nyc.parquet/part.155.parquet
nyc-taxi/nyc.parquet/part.156.parquet
nyc-taxi/nyc.parquet/part.157.parquet
nyc-taxi/nyc.parquet/part.158.parquet
nyc-taxi/nyc.parquet/part.159.parquet
nyc-taxi/nyc.parquet/part.16.parquet
nyc-taxi/nyc.parquet/part.17.parquet
nyc-taxi/nyc.parquet/part.18.parquet
nyc-taxi/nyc.parquet/part.19.parquet
nyc-taxi/nyc.parquet/part.2.parquet
nyc-taxi/nyc.parquet/part.20.parquet
nyc-taxi/nyc.parquet/part.21.parquet
nyc-taxi/nyc.parquet/part.22.parquet
nyc-taxi/nyc.parquet/part.23.parquet
nyc-taxi/nyc.parquet/part.24.parquet
nyc-taxi/nyc.parquet/part.25.parquet
nyc-taxi/nyc.parquet/part.26.parquet
nyc-taxi/nyc.parquet/part.27.parquet
nyc-taxi/nyc.parquet/part.28.parquet
nyc-taxi/nyc.parquet/part.29.parquet
nyc-taxi/nyc.parquet/part.3.parquet
nyc-taxi/nyc.parquet/part.30.parquet
nyc-taxi/nyc.parquet/part.31.parquet
nyc-taxi/nyc.parquet/part.32.parquet
nyc-taxi/nyc.parquet/part.33.parquet
nyc-taxi/nyc.parquet/part.34.parquet
nyc-taxi/nyc.parquet/part.35.parquet
nyc-taxi/nyc.parquet/part.36.parquet
nyc-taxi/nyc.parquet/part.37.parquet
nyc-taxi/nyc.parquet/part.38.parquet
nyc-taxi/nyc.parquet/part.39.parquet
nyc-taxi/nyc.parquet/part.4.parquet
nyc-taxi/nyc.parquet/part.40.parquet
nyc-taxi/nyc.parquet/part.41.parquet
nyc-taxi/nyc.parquet/part.42.parquet
nyc-taxi/nyc.parquet/part.43.parquet
nyc-taxi/nyc.parquet/part.44.parquet
nyc-taxi/nyc.parquet/part.45.parquet
nyc-taxi/nyc.parquet/part.46.parquet
nyc-taxi/nyc.parquet/part.47.parquet
nyc-taxi/nyc.parquet/part.48.parquet
nyc-taxi/nyc.parquet/part.49.parquet
nyc-taxi/nyc.parquet/part.5.parquet
nyc-taxi/nyc.parquet/part.50.parquet
nyc-taxi/nyc.parquet/part.51.parquet
nyc-taxi/nyc.parquet/part.52.parquet
nyc-taxi/nyc.parquet/part.53.parquet
nyc-taxi/nyc.parquet/part.54.parquet
nyc-taxi/nyc.parquet/part.55.parquet
nyc-taxi/nyc.parquet/part.56.parquet
nyc-taxi/nyc.parquet/part.57.parquet
nyc-taxi/nyc.parquet/part.58.parquet
nyc-taxi/nyc.parquet/part.59.parquet
nyc-taxi/nyc.parquet/part.6.parquet
nyc-taxi/nyc.parquet/part.60.parquet
nyc-taxi/nyc.parquet/part.61.parquet
nyc-taxi/nyc.parquet/part.62.parquet
nyc-taxi/nyc.parquet/part.63.parquet
nyc-taxi/nyc.parquet/part.64.parquet
nyc-taxi/nyc.parquet/part.65.parquet
nyc-taxi/nyc.parquet/part.66.parquet
nyc-taxi/nyc.parquet/part.67.parquet
nyc-taxi/nyc.parquet/part.68.parquet
nyc-taxi/nyc.parquet/part.69.parquet
nyc-taxi/nyc.parquet/part.7.parquet
nyc-taxi/nyc.parquet/part.70.parquet
nyc-taxi/nyc.parquet/part.71.parquet
nyc-taxi/nyc.parquet/part.72.parquet
nyc-taxi/nyc.parquet/part.73.parquet
nyc-taxi/nyc.parquet/part.74.parquet
nyc-taxi/nyc.parquet/part.75.parquet
nyc-taxi/nyc.parquet/part.76.parquet
nyc-taxi/nyc.parquet/part.77.parquet
nyc-taxi/nyc.parquet/part.78.parquet
nyc-taxi/nyc.parquet/part.79.parquet
nyc-taxi/nyc.parquet/part.8.parquet
nyc-taxi/nyc.parquet/part.80.parquet
nyc-taxi/nyc.parquet/part.81.parquet
nyc-taxi/nyc.parquet/part.82.parquet
nyc-taxi/nyc.parquet/part.83.parquet
nyc-taxi/nyc.parquet/part.84.parquet
nyc-taxi/nyc.parquet/part.85.parquet
nyc-taxi/nyc.parquet/part.86.parquet
nyc-taxi/nyc.parquet/part.87.parquet
nyc-taxi/nyc.parquet/part.88.parquet
nyc-taxi/nyc.parquet/part.89.parquet
nyc-taxi/nyc.parquet/part.9.parquet
nyc-taxi/nyc.parquet/part.90.parquet
nyc-taxi/nyc.parquet/part.91.parquet
nyc-taxi/nyc.parquet/part.92.parquet
nyc-taxi/nyc.parquet/part.93.parquet
nyc-taxi/nyc.parquet/part.94.parquet
nyc-taxi/nyc.parquet/part.95.parquet
nyc-taxi/nyc.parquet/part.96.parquet
nyc-taxi/nyc.parquet/part.97.parquet
nyc-taxi/nyc.parquet/part.98.parquet
nyc-taxi/nyc.parquet/part.99.parquet
nyc-taxi/taxi.parquet/_common_metadata
nyc-taxi/taxi.parquet/_metadata
nyc-taxi/taxi.parquet/part.0.parquet
nyc-taxi/taxi.parquet/part.1.parquet
nyc-taxi/taxi.parquet/part.10.parquet
nyc-taxi/taxi.parquet/part.100.parquet
nyc-taxi/taxi.parquet/part.101.parquet
nyc-taxi/taxi.parquet/part.102.parquet
nyc-taxi/taxi.parquet/part.103.parquet
nyc-taxi/taxi.parquet/part.104.parquet
nyc-taxi/taxi.parquet/part.105.parquet
nyc-taxi/taxi.parquet/part.106.parquet
nyc-taxi/taxi.parquet/part.107.parquet
nyc-taxi/taxi.parquet/part.108.parquet
nyc-taxi/taxi.parquet/part.109.parquet
nyc-taxi/taxi.parquet/part.11.parquet
nyc-taxi/taxi.parquet/part.110.parquet
nyc-taxi/taxi.parquet/part.111.parquet
nyc-taxi/taxi.parquet/part.112.parquet
nyc-taxi/taxi.parquet/part.113.parquet
nyc-taxi/taxi.parquet/part.114.parquet
nyc-taxi/taxi.parquet/part.115.parquet
nyc-taxi/taxi.parquet/part.116.parquet
nyc-taxi/taxi.parquet/part.117.parquet
nyc-taxi/taxi.parquet/part.118.parquet
nyc-taxi/taxi.parquet/part.119.parquet
nyc-taxi/taxi.parquet/part.12.parquet
nyc-taxi/taxi.parquet/part.120.parquet
nyc-taxi/taxi.parquet/part.121.parquet
nyc-taxi/taxi.parquet/part.122.parquet
nyc-taxi/taxi.parquet/part.123.parquet
nyc-taxi/taxi.parquet/part.124.parquet
nyc-taxi/taxi.parquet/part.125.parquet
nyc-taxi/taxi.parquet/part.126.parquet
nyc-taxi/taxi.parquet/part.127.parquet
nyc-taxi/taxi.parquet/part.128.parquet
nyc-taxi/taxi.parquet/part.129.parquet
nyc-taxi/taxi.parquet/part.13.parquet
nyc-taxi/taxi.parquet/part.130.parquet
nyc-taxi/taxi.parquet/part.131.parquet
nyc-taxi/taxi.parquet/part.132.parquet
nyc-taxi/taxi.parquet/part.133.parquet
nyc-taxi/taxi.parquet/part.134.parquet
nyc-taxi/taxi.parquet/part.135.parquet
nyc-taxi/taxi.parquet/part.136.parquet
nyc-taxi/taxi.parquet/part.137.parquet
nyc-taxi/taxi.parquet/part.138.parquet
nyc-taxi/taxi.parquet/part.139.parquet
nyc-taxi/taxi.parquet/part.14.parquet
nyc-taxi/taxi.parquet/part.140.parquet
nyc-taxi/taxi.parquet/part.141.parquet
nyc-taxi/taxi.parquet/part.142.parquet
nyc-taxi/taxi.parquet/part.143.parquet
nyc-taxi/taxi.parquet/part.144.parquet
nyc-taxi/taxi.parquet/part.145.parquet
nyc-taxi/taxi.parquet/part.146.parquet
nyc-taxi/taxi.parquet/part.147.parquet
nyc-taxi/taxi.parquet/part.148.parquet
nyc-taxi/taxi.parquet/part.149.parquet
nyc-taxi/taxi.parquet/part.15.parquet
nyc-taxi/taxi.parquet/part.150.parquet
nyc-taxi/taxi.parquet/part.151.parquet
nyc-taxi/taxi.parquet/part.152.parquet
nyc-taxi/taxi.parquet/part.153.parquet
nyc-taxi/taxi.parquet/part.154.parquet
nyc-taxi/taxi.parquet/part.155.parquet
nyc-taxi/taxi.parquet/part.156.parquet
nyc-taxi/taxi.parquet/part.157.parquet
nyc-taxi/taxi.parquet/part.158.parquet
nyc-taxi/taxi.parquet/part.159.parquet
nyc-taxi/taxi.parquet/part.16.parquet
nyc-taxi/taxi.parquet/part.17.parquet
nyc-taxi/taxi.parquet/part.18.parquet
nyc-taxi/taxi.parquet/part.19.parquet
nyc-taxi/taxi.parquet/part.2.parquet
nyc-taxi/taxi.parquet/part.20.parquet
nyc-taxi/taxi.parquet/part.21.parquet
nyc-taxi/taxi.parquet/part.22.parquet
nyc-taxi/taxi.parquet/part.23.parquet
nyc-taxi/taxi.parquet/part.24.parquet
nyc-taxi/taxi.parquet/part.25.parquet
nyc-taxi/taxi.parquet/part.26.parquet
nyc-taxi/taxi.parquet/part.27.parquet
nyc-taxi/taxi.parquet/part.28.parquet
nyc-taxi/taxi.parquet/part.29.parquet
nyc-taxi/taxi.parquet/part.3.parquet
nyc-taxi/taxi.parquet/part.30.parquet
nyc-taxi/taxi.parquet/part.31.parquet
nyc-taxi/taxi.parquet/part.32.parquet
nyc-taxi/taxi.parquet/part.33.parquet
nyc-taxi/taxi.parquet/part.34.parquet
nyc-taxi/taxi.parquet/part.35.parquet
nyc-taxi/taxi.parquet/part.36.parquet
nyc-taxi/taxi.parquet/part.37.parquet
nyc-taxi/taxi.parquet/part.38.parquet
nyc-taxi/taxi.parquet/part.39.parquet
nyc-taxi/taxi.parquet/part.4.parquet
nyc-taxi/taxi.parquet/part.40.parquet
nyc-taxi/taxi.parquet/part.41.parquet
nyc-taxi/taxi.parquet/part.42.parquet
nyc-taxi/taxi.parquet/part.43.parquet
nyc-taxi/taxi.parquet/part.44.parquet
nyc-taxi/taxi.parquet/part.45.parquet
nyc-taxi/taxi.parquet/part.46.parquet
nyc-taxi/taxi.parquet/part.47.parquet
nyc-taxi/taxi.parquet/part.48.parquet
nyc-taxi/taxi.parquet/part.49.parquet
nyc-taxi/taxi.parquet/part.5.parquet
nyc-taxi/taxi.parquet/part.50.parquet
nyc-taxi/taxi.parquet/part.51.parquet
nyc-taxi/taxi.parquet/part.52.parquet
nyc-taxi/taxi.parquet/part.53.parquet
nyc-taxi/taxi.parquet/part.54.parquet
nyc-taxi/taxi.parquet/part.55.parquet
nyc-taxi/taxi.parquet/part.56.parquet
nyc-taxi/taxi.parquet/part.57.parquet
nyc-taxi/taxi.parquet/part.58.parquet
nyc-taxi/taxi.parquet/part.59.parquet
nyc-taxi/taxi.parquet/part.6.parquet
nyc-taxi/taxi.parquet/part.60.parquet
nyc-taxi/taxi.parquet/part.61.parquet
nyc-taxi/taxi.parquet/part.62.parquet
nyc-taxi/taxi.parquet/part.63.parquet
nyc-taxi/taxi.parquet/part.64.parquet
nyc-taxi/taxi.parquet/part.65.parquet
nyc-taxi/taxi.parquet/part.66.parquet
nyc-taxi/taxi.parquet/part.67.parquet
nyc-taxi/taxi.parquet/part.68.parquet
nyc-taxi/taxi.parquet/part.69.parquet
nyc-taxi/taxi.parquet/part.7.parquet
nyc-taxi/taxi.parquet/part.70.parquet
nyc-taxi/taxi.parquet/part.71.parquet
nyc-taxi/taxi.parquet/part.72.parquet
nyc-taxi/taxi.parquet/part.73.parquet
nyc-taxi/taxi.parquet/part.74.parquet
nyc-taxi/taxi.parquet/part.75.parquet
nyc-taxi/taxi.parquet/part.76.parquet
nyc-taxi/taxi.parquet/part.77.parquet
nyc-taxi/taxi.parquet/part.78.parquet
nyc-taxi/taxi.parquet/part.79.parquet
nyc-taxi/taxi.parquet/part.8.parquet
nyc-taxi/taxi.parquet/part.80.parquet
nyc-taxi/taxi.parquet/part.81.parquet
nyc-taxi/taxi.parquet/part.82.parquet
nyc-taxi/taxi.parquet/part.83.parquet
nyc-taxi/taxi.parquet/part.84.parquet
nyc-taxi/taxi.parquet/part.85.parquet
nyc-taxi/taxi.parquet/part.86.parquet
nyc-taxi/taxi.parquet/part.87.parquet
nyc-taxi/taxi.parquet/part.88.parquet
nyc-taxi/taxi.parquet/part.89.parquet
nyc-taxi/taxi.parquet/part.9.parquet
nyc-taxi/taxi.parquet/part.90.parquet
nyc-taxi/taxi.parquet/part.91.parquet
nyc-taxi/taxi.parquet/part.92.parquet
nyc-taxi/taxi.parquet/part.93.parquet
nyc-taxi/taxi.parquet/part.94.parquet
nyc-taxi/taxi.parquet/part.95.parquet
nyc-taxi/taxi.parquet/part.96.parquet
nyc-taxi/taxi.parquet/part.97.parquet
nyc-taxi/taxi.parquet/part.98.parquet
nyc-taxi/taxi.parquet/part.99.parquet
orc/TestOrcFile.testDate1900.orc
packages/
packages/nltk-with-data-3.2.2-py27_0.tar.bz2
projects-data/
projects-data/tensorboard/
projects-data/tensorboard/mnist_tutorial.zip

In [22]:
csv_df = dd.read_csv('gcs://anaconda-public-data/nyc-taxi/csv/2015/green_tripdata_2015-03.csv', 
                 storage_options={'token': 'anon'},
                 dtype={'Tolls_amount': 'float64', 'Trip_type ': 'float64'},
                 parse_dates=['lpep_pickup_datetime', 'Lpep_dropoff_datetime']
                )

In [24]:
csv_df.head()

,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,...,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,Total_amount,Payment_type,Distance_between_service,Time_between_service,Trip_type
0,2015-03-01 00:02:05,2015-03-01 00:08:01,N,1,-73.961479,40.801872,-73.980721,40.775055,1,2.10,...,0.5,0.5,0.0,0.0,NaN,9.3,1,6.0,307,1.0
1,2015-03-01 00:02:11,2015-03-01 00:27:09,N,1,-73.979759,40.677467,-74.017097,40.710930,1,4.70,...,0.5,0.5,4.0,0.0,NaN,25.3,1,2.0,176,1.0
2,2015-03-01 00:02:07,2015-03-01 00:10:31,N,1,-73.941376,40.833633,-73.926689,40.863411,1,3.09,...,0.5,0.5,0.0,0.0,NaN,12.3,2,7.0,21603,1.0
3,2015-03-01 00:02:13,2015-03-01 00:09:09,N,1,-73.939674,40.821152,-73.931854,40.846458,1,2.20,...,0.5,0.5,0.0,0.0,NaN,9.8,4,1.0,199,1.0
4,2015-03-01 00:02:18,2015-03-01 00:07:52,N,1,-73.957344,40.712959,-73.954796,40.719650,6,0.75,...,0.5,0.5,1.0,0.0,NaN,7.8,1,0.0,2,1.0

In [23]:
csv_df

Dask DataFrame Structure:
              lpep_pickup_datetime Lpep_dropoff_datetime Store_and_fwd_flag RateCodeID Pickup_longitude Pickup_latitude Dropoff_longitude Dropoff_latitude Passenger_count Trip_distance Fare_amount    Extra  MTA_tax Tip_amount Tolls_amount Ehail_fee Total_amount Payment_type Distance_between_service Time_between_service Trip_type
npartitions=4
                    datetime64[ns]        datetime64[ns]             string      int64          float64         float64           float64          float64           int64       float64     float64  float64  float64    float64      float64   float64      float64        int64                  float64                int64    float64
                               ...                   ...                ...        ...              ...             ...               ...              ...             ...           ...         ...      ...      ...        ...          ...       ...          ...          ...                      ...                  ...        ...
                               ...                   ...                ...        ...              ...             ...               ...              ...             ...           ...         ...      ...      ...        ...          ...       ...          ...          ...                      ...                  ...        ...
                               ...                   ...                ...        ...              ...             ...               ...              ...             ...           ...         ...      ...      ...        ...          ...       ...          ...          ...                      ...                  ...        ...
                               ...                   ...                ...        ...              ...             ...               ...              ...             ...           ...         ...      ...      ...        ...          ...       ...          ...          ...                      ...                  ...        ...
Dask Name: to_string_dtype, 2 expressions
Expr=ArrowStringConversion(frame=FromMapProjectable(1e7d540))